      html {
          height: 100%;
      }

      html, body, div, span, h1, h2, h3, h4, h5, h6, p {
          margin: 0;
          padding: 0;
          border: 0;
          outline: 0;
          font-size: 100%;
          font: inherit;
          vertical-align: baseline;
          background: transparent;
      }

      body {
          position: relative;
          font-family: "proxima nova", Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: normal;
          line-height: 1.4;
          background-color: #f8f8f8;
          min-width: 300px;
          min-height: 100%;
          color: #666;
          overflow: auto;
          display: inline-block;
          width: 100%;
      }

      a:hover {
        font-weight: bold;
      }

      a {
        color: inherit;
        text-decoration: None;
      }

      .content {
          min-height: 100%;
          min-width: 300px;
          display: inline-block;
          width: 100%;
      }

      header {
          position: relative;
          margin-bottom: 10px;
          min-width: 300px;
      }

      .header-background {
          background-color: #fff;
          opacity: 0.9;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          box-shadow: 0 0 2px 1px rgba(175, 175, 175, 0.3);
      }

      .title {
          position: relative;
          width: 400px;
          min-width: 300px;
          margin: 0 auto;
          padding: 15px 0;
          box-sizing: border-box;
          text-align: center;
      }

      h1 {
          font-size: 46px;
          font-weight: lighter;
          line-height: 48px;
      }
	  
      h2 {
          font-size: 24px;
          font-weight: bold;
		  color : black;
          line-height: 30px;
      }	 
	  label{
		  font-size:18px;	
	  }

	  
	  .facteur{
		  display:inline-block;
		  width:15%;
		  height:300px;
		  box-shadow: 4px 4px 3px lightgrey;
		  margin:20px;
		  border-radius: 5px;
		  
	  }
	  .info_client, .info_client_score{
		text-align:center;    
		display: inline-block;
		box-shadow: 4px 4px 3px lightgrey;		
	    background-color: #fcfcfc;
		padding: 25px 20px 25px 20px;

		

	 }
	 .info_client{
		font-size:24px;	 
		margin: 6px 10px 6px 10px;
		vertical-align:bottom;	
		height:50px;		
	 }
	 .info_client_score{
		font-size:36px;
		font-style:bold;	
		/*padding: 22px 18px 22px 18px;*/
		height:62px;
		text-align:top;
		vertical-align:bottom;	
		line-height:36px;
		margin: 0 10px 0 10px;
		
	 }
	 .selection{
		vertical-align:top;
		text-align:left;
        padding: 20px 20px 30px 20px;
		display: inline-block;
		box-shadow: 4px 4px 3px lightgrey;		
	    background-color: #fcfcfc;
		margin: 20px;
		/*height:50px;*/
		width:100%;
		 
	 }
	 .bloc_selection, .bloc_info_client, .ligne_info_client{
		vertical-align:top;
		text-align:center;
		display: inline-block;
		margin: 20px;
	}
	.bloc_selection{
		width: 20%;
	}
	
	.bloc_info_client{
		width: 70%;	 
	}
	
	.ligne_info_client{
		width: 100%;
		margin: 20px 0;		
		padding: 10px 0;
	}
	
